.wuiDarkFrame { 
    background-color: #d9edf7 !important;;
    border-color: #bce8f1 !important;;
    color: #3a87ad !important;;
    border-width: 0px;
    border-style: none;
    border-radius: 4px !important;;
}

.wuiGreyFrame {    
    background-color: #f5f5f5 !important;
    border-color: #dddddd !important;
    border-width: 1px;
    border-style: solid;
    color: #3a87ad !important;
    border-radius: 4px !important;
}

.wuiLightFrame {    
    background-color: white !important;
    border-color: #dddddd !important;
    border-width: 1px;
    border-style: solid;
    color: #333333 !important;
    border-radius: 4px !important;
}
.wuiWhiteFrame {    
    background-color: #ffffff !important;
    border-color: #dddddd !important;
    border-width: 1px;
    border-style: solid;
    color: #3a87ad !important;
    border-radius: 4px !important;
}
.sapMPanelContent {
    border: none !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

